@charset 'utf-8';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body{
	background-color: #eff2f8;
}
.header{
	position: fixed;
	/* left:0와 right:0가 합쳐져서 width:100%의 기능을 대신한다 */
	left: 0;
	right: 0;
	top: 0;
	z-index: 101;
}
.search{
	height: 60px;
	background-color: white;
	display: flex;
}
.menu-list{
	height: 52px;
	background-color: #0eca68;
}
.body{
	margin-top: 112px;
	position: relative;
}
.body::after{
	clear: both;
	content: "";
	display: block;
}
.contents{
	width: 50%;
	background-color: white;
	margin-bottom: 10px;
}
/* 홀수번째 요소는 왼쪽으로 */
.contents:nth-of-type(2n-1){
	float: left;
}
/* 짝수번째 요소는 오른쪽으로 */
.contents:nth-of-type(2n){
	float: right;
}
.economy{
	height: 337.8px;
}
.news-all{
	height: 200px;
}
.news-location{
	height: 141.8px;
}
.pan{
	height: 174px;
}
.news-list{
	height: 547px;
}
.broadcast{
	height: 435.8px;
}
.press{
	height: 387px;
}
.internet{
	height: 337.8px;
}
.edit{
	height: 90.8px;
}
.ad{
	height: 140px;
}
.line{
	width: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(50% - 0.5px);
	background-color: #efefef;
	z-index: 100;
}
.logo{
	width: 54px;
	padding: 19px 14px 19px 15px;
	position: relative;
}
.logo-icon{
	width: 24px;
	height: 22px;
	background-position: -32px -312px;
}
.back-icon{
	width: 21px;
	height: 18px;
	margin: 2px 0 0 3px;
	background-position: -366px -298px;
}
.search-line{
	height: 22px;
	width: 1px;
	background-color:#eceff3;
	position: absolute;
	top: 50%;
	right: -1px;
	margin-top: -11px;
}
.search-btn-group1{
	width: 137px;
	display: flex;
	padding: 0 7px;
}
.search-btn-group2>button{
	width: 58px;
	height: 60px;
	border: none;
	background-color: white;
}
.search-btn-group1>button
{
	width: 40px;
	margin-right: 1px;
	height: 60px;
	display: block;
	border: none;
	background: white;
	outline: none;
}
.btn-mic,
.btn-loc,
.btn-pic{
	width: 28px;
	height: 28px;
	margin: 0 auto;
}
.btn-mic{
	background-position: -321px -93px;
}
.btn-pic{
	background-position: -321px -60px;
}
.btn-loc{
	background-position: -321px -27px;
}
.btn-search{
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-position: -206px -93px;
}
.search-input{
	width: calc(100% - 54px - 137px);
	padding: 17px 0 16px 14px;
}
.search-input-focus{
	width: calc(100% - 54px - 58px);
}
.search-input>input{
	height: 27px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -.4px;
	color: #c7cad1;
	font-family: "Helvetica Neue","Apple SD Gothic Neo",sans-serif;
}
.search-input>input::placeholder{
	color: rgb(225, 236,246);
}
.search-list-box{
	height: 210px;
	width: 100%;
	position: absolute;
	top: 61px;
	background-color: white;
	z-index: 102;
}
.search-list{
	overflow: hidden;
	padding: 53px 0 54px;
	color: #666;
	line-height: 29px;
	letter-spacing: -.3px;
	font-size: 1.6rem;
}
.search-list>p{
	text-align: center;
}
.search-list-deatail{
	font-size: 1.5rem;
	color: #8f8f8f
}
.search-list-deatail>a{
	color: #00c73c;
}
.search-option{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 45px;
	border-top: 1px solid #ecf0f2;
	line-height: 46px;
	text-align: right;
	letter-spacing: -.3px;
}
.bg1{
	background-image: url('https://s.pstatic.net/static/www/m/uit/2019/sp_search_v191106.png');
	background-size: 451px 440px;
}

.display-none{
	display: none;
}