@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #000000;
}
ol,ul{
	list-style: none;
}
body{
	width: 1200px;
	margin: 0 auto;
	height: 960px;
}
header{
	height: 100px;
}
.logo{
	width: 200px;
	height: 100%;
	float: left;
}
.menu{
	width: 800px;
	height: 100%;
	float: right;
	margin-right: 50px;
	position: relative;
}
.main-menu{
	height: 100%;
	padding: 30px 0;
	box-sizing: border-box;
}
.main-menu>li{
	float: left;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.main-menu>li.hover{
	background-color: aquamarine
}
.sub-menu-box{
	position: absolute;
	height: 0px;
	width: 800px;
	top: 100%;
	right: 0px;
	overflow: hidden;
}
.sub-menu{
	float: left;
	width: 200px;
	height: 100%;
	background-color: antiquewhite;
}
.sub-menu>li{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.sub-menu>li:hover{
	background-color: aliceblue;
}
